.books{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:100px;
    flex-wrap: wrap;
}

.book{
    border:.1px solid black;
    padding:5px;
    border-radius: 2px;
    box-shadow: 1px 1px #666;
    max-width: 40%;
}

.book .book-image img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;
}   