.nav-bar{
  background-color: navajowhite;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar a{
  text-decoration: none;
  color: white;
  margin-left: 10px;
}